@use './components/FormAuthorization/FormAuthorization.scss';

@font-face {
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font: {
    family: 'Montserrat';
    weight: 400;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font: {
    family: 'Montserrat';
    weight: 600;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font: {
    family: 'Montserrat';
    weight: 700;
    style: normal;
    display: swap;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

p {
  color: #32403B;
}

input {font-family: 'Montserrat';}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.err {
  display: flex;
  margin-left: 1.5rem;
  justify-content: left;
  color: red;
  font-size: 14px;
  margin-top: -29px;
}

.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
  background-color: #009879;
  color: #ffff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}