#form-input {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin-bottom: 2rem;
}
#form-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}