@use 'assets/styles/variables' as v;

body {
  overflow: auto;
}

.change {
  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.component {
  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    column-gap: 20px;
    padding: 30px;
    max-width: fit-content;
    border-radius: 10px;
    background: v.$white;
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.1);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

.storage {
  &__form {
    width: 600px;
    margin: 0 auto;

    & label {
      display: block;
      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
    & button {
      display: block;
      margin-top: 10px;
    }
  }
}

.utilization__form, .repair__form, .change-details__form {
  &-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;

    & span {
      font-weight: 700;
    }
  }
  & input {
    min-width: 500px;
  }
  & button {
    margin-top: 20px;
    display: block;
  }
}
