.block-select {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  margin-right: 10rem;
  margin-left: 2rem;
}

.block-input {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px;
  width: 710px;
  display: inline-flex;
  float: right;
  margin-right: 2rem;
}
.cont {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
}

#components-input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-bottom: 1rem;
}

#err {
  color: red;
  display: flex;
  margin-bottom: 14px;
  margin-top: -14px;
}