@use 'assets/styles/variables' as v;

.table {
  width: 100%;
  overflow-x: auto;
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  & th,
  & td {
    padding: 12px;

    @media (max-width: 576px) {
      padding: 8px;
      font-size: 0.9rem;
    }
  }

  & th {
    background-color: v.$tiffany;
    color: v.$text;
    text-align: justify;
  }

  & thead {
    border-top: 1px solid v.$black;
    & th {
      border-bottom: 1px solid v.$text;
    }
    & th:not(:last-of-type) {
      border-right: 1px solid v.$text;
    }
  }

  & td {
    border-bottom: 1px solid v.$disabled;
  }

  & tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  & tr:hover {
    background-color: #f1f1f1;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: min-content;
  margin-top: 20px;

  @media (max-width: 576px) {
    gap: 6px;
    margin-top: 15px;
  }

  &__btn {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid v.$gray;
    cursor: pointer;
    user-select: none; // Запретить выделять текст у кнопки
    background-color: v.$tiffany;
    color: v.$black;
    font-size: 0.9rem;
    &:disabled {
      background-color: v.$disabled;
      color: v.$black;
      cursor: not-allowed;
    }
    &:hover:not(:disabled) {
      background-color: v.$green;
      color: v.$white;
    }
    @media (max-width: 576px) {
      padding: 5px 8px;
      font-size: 0.8rem;
      min-width: 26px;
    }
  }

  &__currentPage {
    font-size: 1.1rem;

    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }

  &__select {
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid v.$tiffany;
    border-radius: 3px;
    outline: 0;
    background-color: v.$white;
    font-size: 1rem;
    cursor: pointer;

    @media (max-width: 576px) {
      padding: 5px;
      font-size: 0.9rem;
    }
  }
}
