@use 'assets/styles/variables' as v;

.main {
  background-color: v.$background;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    width: 320px;
    height: 320px;
    position: absolute;
    border-radius: 40px;
    background-color: v.$square;
    rotate: 45deg;

    &.box-up {
      top: -100px;
      left: -100px;
    }

    &.box-down {
      bottom: -104px;
      right: -85px;
    }
  }
}

button.form__submit {
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  color: v.$white;
  background-color: v.$green;
  font: {
    family: 'Montserrat';
    size: 22px;
    weight: 700;
  }
  align-self: center;
  margin-top: 21px;
  line-height: 1.25;
  padding: 15px 20px;
  border-radius: 15px;

  &:hover {
    background-color: v.$green-hover;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 13px 18px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
    padding: 12px 16px;
    margin-top: 18px;
    border-radius: 12px;
  }
}

button.form__cancel {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  align-self: flex-end;
  font-size: 1.2rem;
  background-color: v.$auth-bg;
  &:where(:hover, :focus-visible) {
    color: v.$error;
  }
}

a.form__link {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-block: 15px;
  outline: 0;
  color: v.$blue;
  &:where(:hover, :focus-visible) {
    color: v.$black;
  }
  @media (max-width: 480px) {
    font-size: 1rem;
    padding-block: 10px;
  }
}

.form {
  max-width: 455px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: v.$auth-bg;
  box-sizing: border-box;
  padding: 44px;
  z-index: 100;

  @media (max-width: 768px) {
    padding: 36px;
    border-radius: 28px;
  }

  @media (max-width: 480px) {
    padding: 24px;
    border-radius: 24px;
    margin-inline: 15px;
  }

  & :where(.form__title, .form p) {
    text-align: center;
  }

  &__title {
    font-size: 2.25rem;
    line-height: 1.25;
    color: v.$black;
    margin-bottom: 4px;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.75rem;
    }
  }

  & p {
    font-size: 1rem;
    margin-bottom: 32px;
    text-wrap: balance;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 22px;
    border: 1px solid v.$gray;
    border-radius: 10px;
    outline: 0;
    font-size: 1rem;
    line-height: 1.2;

    @media (max-width: 480px) {
      padding: 14px 18px;
    }

    &.input-password {
      margin-top: 15px;
    }
  }

  ::placeholder {
    color: v.$text;
  }

  &__error {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    color: v.$error;

    &.error-request {
      text-align: center;
      letter-spacing: 0;
      margin-top: 15px;
    }
  }

  & button[type='submit'] {
    margin-top: 15px;
  }
}
