#typeValues {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;

   
}
#butt {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    width: 30%;
    
}

#compbutt {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    width: 50%;
    
}

#sec {
    margin-top: 1rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
}
.sec {
    border: 4px solid #ccc;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

#image-button {
    margin-left: 1rem;
    background-color: #2b82bd;
    color: #fffefe;
}

.but {
    border: 0;
    background-color: #ccc;
    padding: 10px;
}

.but:hover {
    background-color: red;
}
