// Основные цвета
$black: #131515;
$white: #FFFAFB;
$gray: #a4a4a4;
$green: #2A8275;
$green-hover: #287468;
$tiffany: #7DE2D1;
$blue: #1100AB;
$blue-hover: #110291;

// Цвета для текста
$text: #2B2C28;
$error: tomato;

// Цвета для bg формы авторизации
$background: #a7d7c5;
$square: #c1e3d6;

// Цвет при фокусе на input
$input-sh: dodgerblue;

// Цвета для кнопок
$btn-bg: #84c7ae;
$btn-no-active: #ddd;
$btn-delete: #D50000;
$btn-edit: #6C6C6C;

// Прочие оттенки
$disabled: #bbb;
$arrow: #555555;
