// Основные цвета
$black: #131515;
$white: #fffafb;
$gray: #a4a4a4;
$green: #2a8275;
$green-hover: #287468;
$tiffany: #7de2d1;
$blue: #1100ab;
$blue-hover: #110291;

// Цвета для текста
$text: #2b2c28;
$error: tomato;

// Цвета для bg формы авторизации
$background: #a7d7c5;
$square: #c1e3d6;

// Цвет при фокусе на input
$input-sh: dodgerblue;

// Цвета для кнопок
$btn-bg: #84c7ae;
$btn-no-active: #ddd;
$btn-delete: #d50000;
$btn-edit: #6c6c6c;

// Прочие оттенки
$auth-bg: #f6fbf9;
$disabled: #bbb;
$arrow: #555555;
