.section_employee {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 2rem;
  height: 580px;
}

.add_employee {
  display: block;
  justify-content: center;
  width: 450px;
  height: 495px;
}
.add {
  display: block;
  padding: 3px;
}
.PhoneInputInput {
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 8px;
  width: 45px;
}
