.nav-repair {
  border: 1px solid #ccc;
  background-color: #282a35;
  color: rgb(0, 255, 200);
  border-radius: 10px 10px 0 0;
  height: 70px;
}

.ul-repair {
  list-style-type: none;
  padding: 0;
  padding-top: 6px;
  margin-left: 1rem;
}

.li-repair {
  display: inline;
  padding: 1rem 2rem;
  background-color: #282a35;
  font-size: 18px;
  font-weight: 650;
  color: rgb(0, 255, 200);
  cursor: pointer;
}

.li-repair:hover {
  background-color: rgb(0, 255, 200);
  color: #282a35;
}

.li-repair.active {
  background-color: rgb(0, 255, 200);
  color: #282a35;
}
