@use 'assets/styles/variables' as v;

.history {
  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.unit-movement {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger-menu {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    font-size: 30px;
    &:hover {
      color: v.$btn-bg;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }

  &__nav {
    box-sizing: border-box;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: min-content;
    background-color: v.$green-hover;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
    z-index: 1000;
    &.active {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__list {
    &-item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-radius: 3px;
      padding: 1rem 2rem;
      font-size: 1.25rem;
      font-weight: 600;
      background-color: v.$green;
      color: v.$white;
      cursor: pointer;
      border: 1px solid v.$gray;
      &:hover {
        background-color: v.$text;
        color: v.$white;
      }
    }
  }

  &__close-icon {
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    align-content: center;
    &:hover {
      transform: scale(1.2);
      color: v.$btn-delete;
    }
    &:active {
      transform: scale(1);
      color: v.$btn-delete;
    }
  }

  &__icon {
    margin-right: 15px;
    font-size: 1.25rem;
    color: inherit;
  }

  &__form {
    box-sizing: border-box;
    padding: 0 1rem;
    & h3 {
      text-align: center;
    }
  }
}

.repair-block {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & .navigate-back {
      margin-bottom: 0;
    }
  }
  &__menu {
    border-radius: 10px;
    padding: 1rem;
    background-color: v.$text;
    margin-bottom: 30px;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
    }
    &__item {
      padding: 10px;
      font-size: 1rem;
      font-weight: 700;
      color: v.$white;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: v.$white;
        color: v.$black;
      }
    }
  }
}

.movement-form {
  & label {
    display: block;
    margin-top: 10px;
  }

  & .main__input:last-of-type {
    margin-bottom: 10px;
  }
}
