@use 'assets/styles/variables' as v;

.btn {
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  background-color: v.$btn-no-active;
  color: v.$black;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.1rem;
  font-weight: 700;

  &.btn-active {
    background: v.$green-hover;
    color: v.$white;
  }

  &:where(.btn-edit, .btn-move, .btn-delete) {
    font-size: 1rem;
  }

  &.btn-edit {
    background-color: v.$btn-edit;
    color: v.$white;
  }

  &.btn-move {
    background-color: v.$blue;
    color: v.$white;
  }

  &.btn-delete {
    background-color: v.$btn-delete;
    color: v.$white;
  }

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
  &:focus-visible {
    outline: 2px solid green;
    outline-offset: 3px;
  }
  &:disabled {cursor: not-allowed; }
}
